<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <globalization uiCulture="en-US" culture="en-US"/>
    <compilation debug="true" targetFramework="4.0" />
    
    <sessionState timeout ="20"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=W520;initial catalog=EcommMasline;user id=sa;password=Pegasus$123" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
